/**
 * Site header
 */
.site-header {
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $grey-color-light;
  padding: $spacing-unit * 0.8 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
}

.site-header .wrapper {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 $spacing-unit;
  clear: none;
  position: relative;
  width: 100%;
  
  &::after {
    content: none;
  }
}

.site-title {
  @include relative-font-size(1.5);
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0;
  transition: color 0.2s ease;

  &,
  &:visited {
    color: $text-color;
  }

  &:hover {
    color: $grey-color-dark;
    text-decoration: none;
  }
}

.site-nav {
  display: flex;
  align-items: center;
  line-height: 1;
  margin-left: 0;
  flex-shrink: 0;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;
    text-decoration: none;
    font-weight: 500;
    font-size: $base-font-size * 0.95;
    transition: color 0.2s ease;
    padding: $spacing-unit * 0.5 0;
    border-bottom: 2px solid transparent;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: $spacing-unit * 1.5;
    }

    &:hover {
      color: $grey-color-dark;
      border-bottom-color: $grey-color-dark;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 0.5;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      margin-left: 20px;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }
}

.separator {
  flex: 1 1 0%;
  min-width: $spacing-unit;
}

.theme-toggle {
  margin-left: $spacing-unit * 0.5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 1px solid $grey-color-light;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
  flex-shrink: 0;

  &:hover {
    border-color: $grey-color;
    transform: translateY(-1px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  }
}

.theme-toggle__icon {
  font-size: 1rem;
  line-height: 1;
}

.language-switcher {
  display: flex;
  align-items: center;
  gap: $spacing-unit * 0.5;
  margin-left: $spacing-unit;
  font-size: $base-font-size * 0.9;
  font-weight: 500;
  flex-shrink: 0;

  .lang-current {
    color: $text-color;
    padding: 0 $spacing-unit * 0.4;
  }

  .lang-link {
    color: $grey-color;
    text-decoration: none;
    padding: 0 $spacing-unit * 0.4;
    transition: color 0.2s ease;

    &:hover {
      color: $text-color;
      text-decoration: none;
    }
  }
}

@include media-query($on-palm) {
  .theme-toggle {
    position: absolute;
    top: 9px;
    right: $spacing-unit * 2.5;
    margin-left: 0;
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding-top: $spacing-unit * 1;
  background-color: #fafafa;
  margin-top: $spacing-unit * 1;
}

.site-footer .wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 $spacing-unit;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit * 0.5;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit * 0.5;
  @extend %clearfix;
  text-align: center;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit * 0.5;
  padding-left: $spacing-unit * 0.5;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}
